doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Austin Erlandson Resume
    link(rel='stylesheet', href='main.css', type='text/css', media='print', title='no title', charset='utf-8')
    link(rel='stylesheet', href='main.css', type='text/css', media='screen', title='no title', charset='utf-8')
    link(href='http://fonts.googleapis.com/css?family=Montserrat+Subrayada:400,700' rel='stylesheet' type='text/css')
  body
    header
      img(src='assets/portfolio_pic_smile_6-26-5.jpg', alt="Austin's Headshot")
      h1 Austin Erlandson
      h2 Full Stack Software Developer
      section
        div austin.erlandson.com
        div austin@erlandson.com
        div (541) 420-1760
    hr
    main
      section
        article
          h2 Languages
          ul
            li HTML/JADE/HAML
            li CSS/SASS/SCSS
            li JS/ES6
            li RUBY
        article
          h2 Frameworks/Libraries
          h3 CSS
          ul
            li Bourbon/Neat/Bitters/Refills
            li Bootstrap
            li Foundation
            li Jeet
            li Skeleton
            li Min
          h3 JS
          ul
            li AngularJS
            li jQuery
            li RecordRTC
            li Chrome Packaged Apps
            li Web Audio API
          h3 Ruby
          ul
            li Rails
        article
          h2 Tools
          ul
            li Vim: Plugins/Key Bindings/Text Objects
            li Bash-It: Plugins/Auto Completion
            li Gulp/Grunt/Rake/Yeoman
            li NVM/RVM
            li NPM/Bundler/Bower
            li Git/Github/Bitbucket
            li Mocha/Chai/Rspec/Caminari
      section
        article
          h2 Professional Experience
          section
            div
              strong Apprentice Web Developer
              | , Nashville Software School
            i Full-Stack programming bootcamp covering:
          aside
            time(datetime='2015-01') January '15
            | - 
            time(datetime='2015-06') June '15
          section
            div
              strong New Facets Entertainment
              | , Nashville, Tennessee
            i Intern, Audio Engineer
            ul
              li Synchronization/Dubbing of Audio and Video
          aside
            time(datetime='2012-07') July '12
            | - 
            time(datetime='2012-08') August '12
        article
          h2 Projects
        article
          h2 Education
      section
        article
          h3 Community Involvement
    footer
      section
        span
          img(src="assets/Github-Mark-32px.png", alt="github icon")
          |/erlandsona
        span /
          img(src="assets/linkedin.svg", alt="linkedin icon")
          |/erlandsona



      // section
      //   aside
      //     h2 Experience
      //   article
      //     div
      //       strong Nashville Software School
      //       | , Nashville, Tennessee
      //     i Full-Stack programming bootcamp covering:
      //     ul
      //       li Front-End:
      //       ul
      //         li HTML/CSS/Javascript, AngularJS
      //         li Grunt, Gulp, Yeoman
      //         li NPM, NodeJS
      //         li Chrome Packaged Apps
      //     ul
      //       li Back-End:
      //       ul
      //         li HTML/CSS/Javascript, AngularJS
      //         li SQLite3, PostgreSQL
      //         li Command line apps
      //     ul
      //       li Console:
      //       ul
      //         li VIM!!!
      //         ul
      //           li Plugins, Key Bindings, etc...
      //         li Bash-It
      //         ul
      //           li Plugins, aliases, power-line!!!
      //   aside.right
      //     time(datetime='2015-01') January '15
      //     |  - 
      //     time(datetime='2015-06') June '15
      //   article
      //     div
      //       strong New Facets Entertainment
      //       | , Nashville, Tennessee
      //     i Intern, Audio Engineer
      //     ul
      //       li Synchronization/Dubbing of Audio and Video
      //   aside.right
      //     time(datetime='2012-07') July '12
      //     |  - 
      //     time(datetime='2012-08') August '12
      //   article
      //     div
      //       strong Unique Boutique Amps
      //       | , Nashville, Tennessee
      //     i Intern, Amplifier Specialist
      //     ul
      //       li
      //         | Assisted with the production of amplifiers including:
      //         br
      //         | Cabinetry, circuitry, speaker testing, and biasing
      //       li Built custom stomp-boxes
      //   aside.right
      //     time(datetime='2012-04') April '12
      //     |  - 
      //     time(datetime='2012-07') July '12
      // section
      //   aside
      //     h2 Community
      //   article
      //     div
      //       strong HackTN7
      //       | , Nashville, Tennessee
      //     i Front-End Developer
      //     ul
      //       li
      //         | Worked with Firmware programmers utilizing Arduino technology
      //         br
      //         | to create a web-based music sampler/drum machine.
      //       li Learned about C programming with Arduino libraries.
      //   aside.right
      //     time(datetime='2015-05') May '15
      //   article
      //     div
      //       strong Meetups: 
      //       |               NashJS, 
      //       |               Ruby for Beginners, 
      //       |               Nash.rb, 
      //       |               Nashville Vim,
      //       br
      //       |               Code for Nashville,
      //       |               Nashville Creative Coders.
      //   aside.right
      //     time(datetime='2015-01') January '15
      //     |  - 
      //     time(datetime='2015-07-02 15:21') Now
      // section
      //   aside
      //     h2 Education
      //   article
      //     div
      //       strong Belmont University
      //       | , Nashville, Tennessee
      //     ul
      //       li Bachelor of Music in Commercial Music
      //       ul
      //         li Emphasis in Music Technology
      //   aside.right
      //     time(datetime='2010-08') August '10
      //     |  - 
      //     time(datetime='2014-05') May '15
